.todo-list__form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.todo-list__form-container > * {
  width: min(100%, 400px);
}

.modal__action-buttons {
  display: flex;
  gap: 8px;
  margin: 8px 0;
  justify-content: flex-end;
}
