.todo-list__input-container {
  position: relative;
  flex: 1 0 auto;
}

.todo-list__input-container input {
  width: 100%;
  padding: 1.2rem 2.4rem;

  outline: none;
  border: none;
  border-bottom: 1px solid var(--secondary-font-color);

  font-size: 1.6rem;
  color: var(--secondary-font-color);

  background-color: transparent;
}

.todo-list__input-container label {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
