:root {
  /* Import Jisefin-sans font family from google fonts */
  @import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");

  /* color variables */
  --primary-color: #161722;
  --secondary-color: #25273c;

  --primary-font-color: hsl(236, 33%, 92%);
  --secondary-font-color: hsl(234, 39%, 85%);

  --primary-action-color: hsl(220, 98%, 61%);
  --completed-status-color: #53d4ba;
  --pending-status-color: #f39c12;

  --danger-color: #ef4444;

  /* Font varaibles */
  --font-family: "Josefin Sans", sans-serif;
  --base-font-size: 1.8rem;
  --regular-font-weight: 400;
  --bold-font-weight: 700;
}

[data-theme="light"] {
  --primary-color: #f5eeee;
  --secondary-color: #ffffff;

  --primary-font-color: #1c1e21;
  --secondary-font-color: #4b4f56;

  --primary-action-color: #4f8ef7;
  --completed-status-color: #2ecc71;
  --pending-status-color: #f39c12;
}

/* Set general styling */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: var(--font-family);
  font-size: var(--base-font-size);
  font-weight: var(--regular-font-weight);
  color: var(--primary-font-color);

  background-color: var(--primary-color);
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.todo-list {
  flex: 1 0 auto;
}

main,
header,
footer {
  width: min(100%, 1240px);
  padding: 2rem 4rem;
  margin: 0 auto;
}
